body{
    background-color: lightblue;
}
img{
    background-color: lightblue;display: inline;
}
h2{
    color: white;display: inline;
}
.chat{
    display:inline-block
}
.hear{color: white;display:inline-block;

}
.join{
    color: white;display: inline-block
}
.box{
    display: inline-block;
}
.one{
    background-color: #10171e;
}